
*,
*::before,
*::after { box-sizing: border-box; }

html, body, #root { height: 100%; }

html { scroll-behavior: smooth; }

body {
  margin: 0;
  background: #ffffff;
  color: #171717;
  font-synthesis-weight: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: initial;
  display: block;
}
